
<!-- navigation menu -->
<global-nav></global-nav>

<div class="shout sectionhead">
	<div class="ui text container">
		<span class="section header">Shout</span >
		<div class="section subheader">Have hope for better days.</div><br>
		<div class="ui form segment">
			<div class="field">
				<input type="text" ng-model="shout.author" placeholder="Your alias/display name" requirec>
			</div>
			<div class="field">
				<textarea ng-model="shout.content" placeholder="How are you feeling today?"></textarea>
			</div>
			<div class="ui right aligned field container">
				<button ng-click="submit()" class="ui large pink inverted submit labeled icon button">
					<i class="announcement icon"></i> Shout
				</button>
			</div>
		</div>
		<div class="ui segment">
			<div class="ui pink ribbon label">Upcoming Event</div>
			<h1>Meet ups! Talks! Get to know us!</h1>
			<h4>Hope to see you there! =)</h4>
		</div>

		<div id="shout-segment" class="ui items segment" ng-repeat="entry in shouts | orderBy:'id':'true'">
			<div class="item">
				<div class="content">
					<p>{{ entry.content }}</p>
					<div class="meta">
						{{ entry.author }}
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</div>
</div>

<ui-view></ui-view>