<div class="ui grid centered container">
	<div class="row">
		<div class="fourteen wide column">
			<div class="ui form segment">
				<div class="field">
					<textarea ng-model="shout.content" placeholder="How are you feeling today?"></textarea>
				</div>
				<div class="two fields">
					<div class="field">
						<input type="text" ng-model="shout.author" placeholder="Alias">
					</div>
					<div class="field">
						<div ng-click="submit()" class="ui blue submit button">Shout</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="fourteen wide column">
			<div class="ui items segment" ng-repeat="entry in shouts | orderBy:'id':'true'">
				<div class="item">
					<div class="content">
						<p>{{ entry.content }}</p>
						<div class="meta">
							{{ entry.author }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ui-view></ui-view>