
/* global nav styles */

#global-nav {
	background: rgba(255,255,255,0.95);
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

#global-nav.ui.secondary.menu a.item,
#global-nav.ui.secondary.menu a.item:hover {
	background: transparent;
	border-radius: 0px;
	padding: 0px 1.5rem;
	font-size: 1.14rem;
	line-height: 100px;
	transition: all 0.25s ease;
}

#global-nav.ui.secondary.menu a.item:not(.header).active,
#global-nav.ui.secondary.menu a.item:not(.header):hover {
	background: rgba(0,0,0,0.05);
}

#global-nav.ui.secondary.menu a.item.header {
	border: none;
}

#global-nav.ui.secondary.menu a.item.header:hover {
	transform: scale(1.25);
}

#rainbow-band {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	height: 2px;
	background: #000 url("../images/ef-band.svg");
	background-size: 100%;
	opacity: 0.6;
	transition: all 0.25s ease;
}

#global-nav:hover #rainbow-band {
	height: 5px;
	opacity: 0.5;
}

.ui.placeholder.menu {
	height: 8rem;
	box-shadow: none;
	border: none;
}