
/* global nav styles */

#global-nav {
	background: rgba(255,255,255,0.95);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	overflow: hidden;
}

#global-nav .ui.basic.button,
#home-nav .ui.basic.button {
	border: none;
	box-shadow: none;
}

#global-nav.ui.secondary.menu a.item,
#global-nav.ui.secondary.menu a.item:hover {
	background: transparent;
	border-radius: 0px;
	padding: 0px 1.5rem;
	font-size: 1.2rem;
	font-family: Roboto;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 100px;
	transition: all 0.15s ease;
}

#global-nav.ui.secondary.menu a.item:not(.header).active {
	color: #FF66CC;
}

#global-nav.ui.secondary.menu a.item:not(.header) {
	position: relative;
	transition: all 0.1s ease;
}

#global-nav.ui.secondary.menu a.item:not(.header):hover {
	color: #FFFFFF;
	font-weight: 900;
}

#global-nav.ui.secondary.menu a.item:not(.header) img.bg {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	width: auto;
	transform: translateX(-50%) translateY(-50%) scale(0.5) rotateZ(30deg);
	z-index: -1000;
	opacity: 0;
	transition: all 0.1s ease;
}

#global-nav.ui.secondary.menu a.item:not(.header):hover img.bg {
	transform: translateX(-50%) translateY(-50%) scale(1.5) rotateZ(0deg);
	opacity: 0.75;
}

#global-nav.ui.secondary.menu a.item.header img {
	height: 2.25rem;
	width: auto;
}

#rainbow-band {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	height: 2px;
	background: #000 url("../images/ef-band.svg");
	background-size: 100%;
	opacity: 0.6;
	transition: all 0.25s ease;
	z-index: 1000;
}

#global-nav:hover #rainbow-band {
	height: 5px;
	opacity: 0.5;
}

#home-nav.ui.secondary.menu {
	border-top: 5px solid #FF66CC;
	transition: all 0.5s ease;
}

#home-nav.ui.secondary.menu:hover {
	background: rgba(0,0,0,0.5);
}

#home-nav.ui.secondary.menu a.item,
#home-nav.ui.secondary.menu a.item:hover {
	background: transparent;
	border-radius: 0px;
	padding: 0px;
	font-size: 1.2rem;
	font-family: Roboto;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	line-height: 50px;
	transition: all 0.15s ease;
	color: #FF66CC;
}

#home-nav.ui.secondary.menu a.item:hover {
	text-shadow: 0px 2px 2px rgba(0,0,0,0.75);
	transform: scale(1.05);
}

/* global content styles */

body {
	background: #FAFAFA url("http://subtlepatterns.com/patterns/paper_fibers.png") repeat scroll;
}

*:focus {
	outline: none;
}

a, a:hover {
	color: #FF66CC;
}

a:hover {
	border-bottom: 1px dotted #FF66CC;
}

.form.disclaimer,
.post.meta {
	color: #808080;
	font-size: 0.8rem;
}

.section.header {
	color: #FF66CC;
	font-size: 5rem;
	font-weight: 100;
	font-family: Roboto;
	text-shadow: -2px 1px 0px rgba(0,0,0,0.25);
}

.section.subheader {
	font-weight: 900;
	font-size: 1.75rem;
	text-align: left;
	padding-left: 3rem;
	color: #666666;
}

.sectionhead {
	padding-top: 150px;
}

.consult.sectionhead {
	background: url("../images/bg1.png") no-repeat scroll 0% 0%;
	background-size: 100%;
}

.shout.sectionhead {
	background: url("../images/bg2.png") no-repeat scroll 0% 0%;
	background-size: 100%;
}

.inspire.sectionhead {
	background: url("../images/bg3.png") no-repeat scroll 0% 0%;
	background-size: 100%;
}

.compose.sectionhead {
	background: url("../images/bg4.png") no-repeat scroll 0% 0%;
	background-size: 100%;
}

#global-footer {
	background: #D83060;
	color: #FFFFFF;
}

/* homepage styles */

#homepage {
	background: url("../images/bgfinal.png") no-repeat fixed;
	background-size: cover;
}

#homepage section {
	background: rgba(0,0,0,0.5);
	min-height: 100vh;
}

#homepage section:nth-of-type(3) {
	background: rgba(0,0,0,0.25);
}

#homepage .masthead {
	background: rgba(0,0,0,0.05);
	padding-top: 100px;
}

#homepage #app-brand {
	padding-top: 15vh;
}

#homepage #app-tagline {
	font-size: 2.5em;
	font-family: Roboto, sans-serif;
	font-weight: 100;
	padding-top: 5vh;
}

#homepage #app-tagline .highlight {
	color: #FF66CC;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

#homepage .subhead .title {
	color: #FFFFFF;
	font-size: 3em;
	padding-top: 15vh;
}

#homepage .subhead .content {
	color: #FFFFFF;
	font-size: 1.2em;
	padding-top: 5vh;
}

/* other page-specific styles */

.ui.dividing.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	color: #FF66CC;
	font-weight: 300;
	font-size: 2.5rem;
}

#shout-segment {
	border-color: #E03997;
	border-width: 3px;
}

